@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fffdf8;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  padding: 90px 20px 180px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: "Inter", sans-serif;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  font-size: 20px;
  font-weight: 600;
  margin: 0 17px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 50px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background-color: #3e89ff;
  border-radius: 50%;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
}

.about {
  padding: 180px;
  text-align: center;
  margin-bottom: 140px;
}

.profile-photo {
  width: 230px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 80px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 90px;
}

#name {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 90px;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 90px;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 20px;
}
.hashtag-line {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  margin: 140px;
}

.experience {
  padding-top: 180px;
  text-align: center;
}

.experience ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.experience li {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.connect {
  padding: 180px 20px;
}

.connect a {
  color: #000000;
  text-decoration: none;
}

.connect a:hover {
  transform: scale(1.1);
}
  
.connect ul {
  list-style: none;
} 

.connect li {
  margin-bottom: 20px;
}

.connect a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 104px;
  background-color: #3E89FF; 
  border-radius: 50%; 
  text-decoration: none; 
}

.connect i {
  color: #FFFFFF; 
  font-size: 48px; 
}
